<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Árbol de Especies', gly: 'bug', clr: 'info'} %>
		<%= render partial: 'filo_elementos/partials/show_elemento', locals: {elemento: @filo_elemento} %>






		<%= render partial: '0p/general/icon_text', locals: {text: "Estadistica Frecuencia [ #{Especie.all.count} \]", gly: 'table', clr: 'info'} %>
		<table class='table'>
			<tr>
				<td><i class='text-info'><small>Número de Publicaciones</small></i></td><td><i class='text-info'><small>Número de Especies</small></i></td></tr>
			</tr>
		<% @stat.sort_by { |key| key }.to_h.each_key do |key| %>
				<tr>
					
					<td><small><%= key %></small></td><td><small><%= @stat[key] %></small></td>
					
				</tr>
		<% end %>
		</table>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Especies', gly: 'bug', clr: 'info'} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'especies', a: 'index'} %>
	</div>
</div>
