<%= render partial: '0p/tabs/tabs', locals: { tabs: @tabs, options: @options, token: :menu } %>
</br>
<% if @options[:menu] == 'Estructura' %>
	<div class='row'>
		<div class='col-md-4'>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Ãrbol de Especies', gly: 'bug', clr: 'info'} %>
			<%= render partial: 'filo_elementos/partials/show_elemento', locals: {elemento: @filo_elemento, especie: @filo_especie} %>
		</div>
		<div class='col-md-4'>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Elementos del estructura', gly: 'bug', clr: 'info'} %>
			<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'filo_elementos', a: 'index'} %>
		</div>
		<div class='col-md-4'>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Especies de la estructura', gly: 'bug', clr: 'info'} %>
			<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'filo_especies', a: 'index'} %>
		</div>
	</div>
	</br>
	<%#= render partial: 'filo_elementos/partials/show_tree', locals: {base: @elemento_base} %>
<% else %>
	<div class='row'>
		<div class='col-md-3'>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Orden de Especies', gly: 'bug', clr: 'info'} %>
			<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'filo_ordenes', a: 'index'} %>
		</div>
		<div class='col-md-9'>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Especies', gly: 'bug', clr: 'info'} %>
			<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'especies', a: 'index'} %>
		</div>
	</div>
<% end %>

