<%= form_with(model: filo_elemento, local: true) do |form| %>
  <% if filo_elemento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filo_elemento.errors.count, "error") %> prohibited this filo_elemento from being saved:</h2>

      <ul>
      <% filo_elemento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :filo_elemento %>
    <%= form.text_field :filo_elemento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
