<h5><i class="bi bi-diagram-2"></i><%= " [#{@objeto.filo_orden.filo_orden unless @objeto.filo_orden.blank?}] - #{@objeto.filo_elemento} (#{@objeto.n_especies})  " %></h5>
<div class='row'>
	<div class='col-md-6'>
		<i class='text-info'><small>
			Padre:</br>
			<b>
				<%= @objeto.parent.blank? ? 'Elemento sin padre' : (link_to @objeto.nombre_padre, @objeto.parent) %>
			</b></br>

			<%= render partial: 'filo_elementos/partials/form_cambio_padre' %>
		</small></i>
	</div>
	<div class='col-md-6'>
		<i class='text-info'><small>
			Descripción:</br>
			<b>
				<%= @objeto.descripcion.blank? ? 'No hay descripción de este elemento' : @objeto.descripcion %>
			</b></br>
			Órden del elemento:</br>
			<b>
				<%= @objeto.filo_orden.blank? ? 'No hay orden asignado a este elemento' : @objeto.filo_orden.filo_orden %>		
			</b></br>
			Área que referencia:</br>
			<b>
				<%= @objeto.area.blank? ? 'No hay área que referencie este elemento' : @objeto.area.area %>
			</b></br>
		</small></i>
	</div>
</div>
<hr>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Elementos', gly: 'diagram-2', clr: 'info'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_elementos'} %>

		<%= render partial: 'filo_elementos/partials/form_nuevo_child' %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Especies', gly: 'bug', clr: 'info'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_especies'} %>

		<%= render partial: 'filo_elementos/partials/form_nueva_especie' %>
	</div>
</div>


