<p id="notice"><%= notice %></p>

<p>
  <strong>Aspecto:</strong>
  <%= @evaluacion.aspecto %>
</p>

<p>
  <strong>Evaluacion:</strong>
  <%= @evaluacion.evaluacion %>
</p>

<p>
  <strong>Publicacion:</strong>
  <%= @evaluacion.publicacion_id %>
</p>

<p>
  <strong>Investigador:</strong>
  <%= @evaluacion.investigador_id %>
</p>

<%= link_to 'Edit', edit_evaluacion_path(@evaluacion) %> |
<%= link_to 'Back', evaluaciones_path %>
