<%= form_with(model: instancia, local: true) do |form| %>
  <% if instancia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instancia.errors.count, "error") %> prohibited this instancia from being saved:</h2>

      <ul>
      <% instancia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :instancia %>
    <%= form.text_field :instancia %>
  </div>

  <div class="field">
    <%= form.label :sha1 %>
    <%= form.text_field :sha1 %>
  </div>

  <div class="field">
    <%= form.label :concepto_id %>
    <%= form.number_field :concepto_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
