<%= form_with(model: ind_lenguaje, local: true) do |form| %>
  <% if ind_lenguaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ind_lenguaje.errors.count, "error") %> prohibited this ind_lenguaje from being saved:</h2>

      <ul>
      <% ind_lenguaje.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ind_lenguaje %>
    <%= form.text_field :ind_lenguaje %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
