<%= render partial: 'taxonomia/filo_especies/taxonomia/link_padre', locals: {objeto: @objeto} %>
<%= render partial: 'aplicacion/publicos/partials/titulo_especie', locals: {objeto: @objeto} %>
<%= render partial: 'taxonomia/filo_especies/taxonomia/menu_especie', locals: {objeto: @objeto} if admin? %>
<%#= render partial: 'aplicacion/publicos/partials/enlaces_especie', locals: {objeto: @objeto} %>

<div class="row">
	<div class="col-lg-6 col-xs-12">

		<div style='padding-left: 2em;'>
			<% @coleccion['filo_especies'].each do |especie| %>
				<div class="especie">
					<%= render partial: 'taxonomia/filo_especies/taxonomia/line_especie', locals: {objeto: especie} %>
				</div>
			<% end %>
		</div>

		<hr>

		<%= render partial: 'aplicacion/publicos/partials/etiquetas', locals: {objeto: @objeto} %>

	</div>
	<div class="col-lg-4 col-xs-12">
		<%= render partial: 'aplicacion/publicos/partials/distribucion', locals: {objeto: @objeto} %>

		<% if admin? %>
			<p class="text-info"><i class="bi bi-bandaid"></i> 
				Actualizaciones 
				<%= link_to "/filo_actualizaciones/new?indice=#{@objeto.id}" do %>
					<i class="bi bi-plus-circle"></i>
				<% end %>
			</p>
			<% unless @objeto.filo_actualizaciones.empty? %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_actualizaciones'} %>
			<% end %>
		<% end %>
	</div>
	<div class="col-lg-2 col-xs-12">
		<p class="text-info">
			Imágenes
		</p>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'app_imagenes'} %>
	</div>
</div>