<%= render partial: 'taxonomia/filo_especies/taxonomia/link_padre', locals: {objeto: @objeto} %>
<%= render partial: '0p/general/gly_title_size', locals: {gly: 'bug', title: "Especie | #{@objeto.filo_especie} ( #{@objeto.referencia} )", size: 5} %>

<div class="row">
	<div class="col-lg-4 col-xs-12">


		<%= render partial: 'aplicacion/publicos/partials/general', locals: {objeto: @objeto} %>


		<% @coleccion['filo_especies'].each do |especie| %>
			<div class="especie">
				<%= render partial: 'taxonomia/filo_especies/taxonomia/line_especie', locals: {objeto: especie} %>
			</div>
		<% end %>
	</div>
	<div class="col-lg-4 col-xs-12">
		<%= render partial: 'aplicacion/publicos/partials/sinonimia', locals: {objeto: @objeto} %>
	</div>
	<div class="col-lg-4">
		<%= render partial: 'aplicacion/publicos/partials/distribucion', locals: {objeto: @objeto} %>
	</div>
</div>

<hr>

<%= render partial: '0p/general/gly_title_size', locals: {gly: 'tag', title: "Etiquetas de la especie", size: 5} %>

<small><%= link_to 'buscar etiquetas', "/taxonomia/filo_especies/#{@objeto.id}/buscar_etiquetas" %></small>

<small>
<ul>
<% @objeto.especies.each do |etiqueta| %>
	<li><%= etiqueta.especie %> : <%= etiqueta.publicaciones.count %></li>
<% end %>
</ul>
</small>