<%= render partial: 'taxonomia/filo_especies/taxonomia/link_padre', locals: {objeto: @objeto} %>
<%= render partial: 'aplicacion/publicos/partials/titulo_especie', locals: {objeto: @objeto} %>
<%= render partial: 'taxonomia/filo_especies/taxonomia/menu_especie', locals: {objeto: @objeto} if admin? %>
<%= render partial: 'aplicacion/publicos/partials/enlaces_especie', locals: {objeto: @objeto} %>
<% unless @objeto.conflictos.empty? %>
	<i class="bi bi-flag text-danger"></i>
<% end %>

<div class="row">
	<div class="col-lg-5 col-xs-12">

		<div style='padding-left: 2em;'>
			<% @coleccion['filo_especies'].each do |especie| %>
				<div class="especie">
					<%= render partial: 'taxonomia/filo_especies/taxonomia/line_especie', locals: {objeto: especie} %>
				</div>
			<% end %>
		</div>

		<hr>

		<%= render partial: 'aplicacion/publicos/partials/etiquetas', locals: {objeto: @objeto} %>

	</div>
	<div class="col-lg-3 col-xs-12">
		<%= render partial: 'aplicacion/publicos/partials/sinonimia', locals: {objeto: @objeto} %>

		<p class="text-info">Conflictos</p>
		<small>
		<ul>
		<% @objeto.conflictos.each do |conflicto| %>
			<li>
				<b><%= conflicto.filo_conflicto%></b></br>
				<%= conflicto.huella unless conflicto.huella.blank?%>
				<% if conflicto.app_perfil.email == perfil_activo.email %>
				<%= link_to "/filo_especies/#{@objeto.id}/elimina_conflicto?indice=#{conflicto.id}" do %>
					<i class="bi bi-trash"></i>
				<% end %>
				<% end %>
			</li>
		<% end %>
		</ul>
		</small>
	</div>
	<div class="col-lg-4">
		<%= render partial: 'aplicacion/publicos/partials/distribucion', locals: {objeto: @objeto} %>
	</div>
</div>