<% unless params[:indice].blank? or @objeto.blank? %>

	<%= render partial: 'taxonomia/filo_especies/partials/titulo//titulo_especie', locals: {objeto: @objeto, padres: @padres} %>

	<%= render partial: 'taxonomia/filo_especies/partials/cllps/cllps_display_all', locals: {objeto: @objeto} %>

<% end %>


<div class="row">
	<div class="col-lg-6 col-xs-12">
		<div class="tax-box">
			<%= render partial: 'taxonomia/filo_especies/partials/etiqueta_especie', locals: {objeto: @objeto} %>
			<%= render partial: 'taxonomia/filo_especies/partials/subespecies', locals: {objeto: @objeto} %>
		</div>

		<div class="tax-box">
			<%= render partial: 'taxonomia/filo_especies/partials/sinonimia', locals: {objeto: @objeto} %>
		</div>

		<div class="tax-box">
			<%= render partial: 'taxonomia/filo_especies/partials/interacciones', locals: {objeto: @objeto} %>
		</div>

	</div>
	<div class="col-lg-4 col-xs-12">
		<div class="tax-box">
			<%= render partial: 'taxonomia/filo_especies/partials/distribucion', locals: {objeto: @objeto} %>
		</div>
		<div class="tax-box">
			<%= render partial: 'taxonomia/filo_especies/partials/actualizaciones', locals: {objeto: @objeto} %>
			<% unless @objeto.filo_actualizaciones.empty? %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_actualizaciones'} %>
			<% end %>
		</div>

	</div>
	<div class="col-lg-2 col-xs-12">
		<div class="tax-box">
			<%= render partial: 'taxonomia/filo_especies/partials/titulo_imagenes', locals: {objeto: @objeto} %>
		</div>
		<% @coleccion['app_imagenes'].each do |imagen| %>
			<%= render partial: 'repositorios/app_imagenes/list/objeto', locals: {objeto: imagen} %>
		<% end %>
		
	</div>
</div>