<div class="row">
	<div class="col-xs-12 col-lg-8">

		<%= render partial: '0capitan/home/foto_portada' %>
		<%= render partial: '0capitan/home/cita_cvch' %>


		<%= render partial: 'taxonomia/filo_especies/taxonomia/ficha_especie', locals: {objeto: @ultima_especie} unless @ultima_especie.blank? %>

		<%= render partial: '0capitan/home/notas' %>
	</div>
	<div class="col-lg-4">
		<%= render partial: '0capitan/home/ultimas_10_publicaciones' %>
	</div>
</div>
<hr>

<%= render partial: '0capitan/home/advertencia' %>