<%= render partial: 'aplicacion/publicos/partials/titulo_especie', locals: {objeto: @objeto} %>

<% if dog? %>
	<%= line_chart @coleccion['publicaciones'].group(:year).count %>
<% end %>

<div class="row">
	<div class="col-lg-3 col-xs-12">
		<p class='text-info'>Etiqueta(s)</p>
		<small><small><ul>
		<% @etiquetas.each do |tag| %>
			<li>
				<% if tag.especie == @objeto.filo_especie %>
					<i class="bi bi-check-all"></i>
				<% end %>
				<%= link_to tag.especie, tag %> | <%= tag.publicaciones.count %>
			</li>
		<% end %>		
		</ul></small></small>

		<p class='text-info'>Sinónimo(s)</p>
		<small><small><ul>
		<% @sinonimos.each do |sino| %>
			<% unless sino.especie.blank? %>
			<li>
				<%= link_to sino.filo_sinonimo, sino.especie %> | <%= sino.especie.publicaciones.count %>
			</li>
			<% end %>
		<% end %>		
		</ul></small></small>
	</div>
	<div class="col-lg-9">
		<p class='text-info'>Publicaciones</p>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'publicaciones'} %>
	</div>
</div>

