<%= render partial: 'aplicacion/publicos/partials/titulo_especie', locals: {objeto: @objeto} %>

<div class="row">
	<div class="col-lg-3 col-xs-12">
		<p class='text-info'>Etiqueta(s)</p>
		<small><small><ul>
		<% @objeto.especies.each do |tag| %>
			<li>
				<% if tag.especie == @objeto.filo_especie %>
					<i class="bi bi-check-all"></i>
				<% end %>
				<%= link_to tag.especie, tag %> | <%= tag.publicaciones.count %>
			</li>
		<% end %>		
		</ul></small></small>

		<p class='text-info'>Sinónimo(s)</p>
		<small><small><ul>
		<% @objeto.filo_sinonimos.each do |sino| %>
			<% unless sino.especie.blank? %>
			<li>
				<%= link_to sino.filo_sinonimo, sino.especie %> | <%= sino.especie.publicaciones.count %>
			</li>
			<% end %>
		<% end %>		
		</ul></small></small>

		<p class='text-info'>Categoría(s)</p>
		<small><small><ul>
		<%# @objeto.hash_categorias.keys.sort.each do |h_key| %>
			<li>
				<%#= h_key.to_s %> | <%#= @objeto.hash_categorias[h_key].length %>
			</li>
		<%# end %>		
		</ul></small></small>


	</div>
	<div class="col-lg-9">

		<p class='text-info'>
		<% if @objeto.publicaciones.count > 9 %>
			<a data-toggle="collapse" href="#collapseGraphPubs" role="button" aria-expanded="false" aria-controls="collapseGraphPubs">
		<% end %>
			Publicaciones
		<% if @objeto.publicaciones.count > 9 %></a><% end %>
		</p>

		<% if @objeto.publicaciones.count > 9 %>
			<div class="collapse" id="collapseGraphPubs">
			  <div class="card card-body">
				<%= line_chart @objeto.publicaciones.group(:year).count %>
			  </div>
			</div>
		<% end %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'publicaciones'} %>
	</div>
</div>

