<%= render partial: 'aplicacion/publicos/publicaciones/titulo_publicaciones', locals: {objeto: @objeto} %>

<div class="row">
	<div class="col-lg-3 col-xs-12">
		<%= render partial: 'aplicacion/publicos/publicaciones/etiqueta_especie', locals: {objeto: @objeto} %>
		<%= render partial: 'aplicacion/publicos/publicaciones/sinonimos', locals: {objeto: @objeto} %>

		<p class='text-info'>Sinónimo(s)</p>
		<small><small><ul>
		<% @objeto.filo_sinonimos.each do |sino| %>
			<% unless sino.especie.blank? %>
			<li>
				<%= link_to sino.filo_sinonimo, sino.especie %> | <%= sino.especie.publicaciones.count %>
			</li>
			<% end %>
		<% end %>		
		</ul></small></small>

		<p class='text-info'>Categoría(s)</p>
		<small><small><ul>
		<% @objeto.h_categorias.keys.sort.each do |h_key| %>
			<li>
				<%= h_key.to_s %> | <%= @objeto.h_categorias[h_key].length %>
			</li>
		<% end %>		
		</ul></small></small>

	</div>
	<div class="col-lg-9">

		<p class='text-info'>
		<% if @objeto.publicaciones.count > 9 %>
			<a data-toggle="collapse" href="#collapseGraphPubs" role="button" aria-expanded="false" aria-controls="collapseGraphPubs">
		<% end %>
			Publicaciones
		<% if @objeto.publicaciones.count > 9 %></a><% end %>
		</p>

		<% if @objeto.publicaciones.count > 9 %>
			<div class="collapse" id="collapseGraphPubs">
			  <div class="card card-body">
				<%#= line_chart @objeto.publicaciones.order(:year).group(:year).count %>
				<%= bar_chart @grafico %>
			  </div>
			</div>
		<% end %>

		<%= render partial: '0p/tabla/tabla', locals: {c: 'publicaciones'} %>
	</div>
</div>

