<%= render partial: 'taxonomia/filo_elementos/taxonomia/link_padres', locals: {padres_ids: @padres_ids} unless params[:indice].blank? %>

<%= render partial: 'aplicacion/publicos/partials/titulo_elemento', locals: {objeto: @objeto} %>

<% if dog? and @objeto.present? %>
	<%= @objeto.parent_relation.present? %></br>
	<%= @objeto.parent.present? %></br>
	<%= @objeto.child_relations.count %></br>
	<%= @objeto.children.count %></br>
<% end %>

<div class="row">
	<div class="col-lg-6 col-xs-12">

		<%= render partial: 'taxonomia/filo_elementos/taxonomia/menu_elemento', locals: {objeto: @objeto} if admin? %>
		

		<% @coleccion['base-filo_elementos'].each do |elemento| %>
			<div class="elemento">
				<%= render partial: 'taxonomia/filo_elementos/taxonomia/line_elemento', locals: {objeto: elemento} %>

				<small>
				<div class="sub-elementos" style='padding-left: 2em'>
					<% elemento.children.order(:filo_elemento).each do |sub_elemento| %>
						<%= render partial: 'taxonomia/filo_elementos/taxonomia/line_elemento', locals: {objeto: sub_elemento} %>
					<% end %>
				</div>
				<div class="especies" style='padding-left: 2em'>
					<% elemento.filo_especies.order(:filo_especies).each do |especie| %>
						<%= render partial: 'taxonomia/filo_especies/taxonomia/line_especie', locals: {objeto: especie} %>
					<% end %>
				</div>
				</small>
			</div>
		<% end %>

		<% unless params[:indice].blank? %>
			<% @coleccion['filo_especies'].each do |especie| %>
				<%= render partial: 'taxonomia/filo_especies/taxonomia/line_especie', locals: {objeto: especie} %>


				<small>
				<div class="sub_especies" style='padding-left: 2em'>
					<% especie.children.order(:filo_especies).each do |sub_especie| %>
						<%= render partial: 'taxonomia/filo_especies/taxonomia/line_especie', locals: {objeto: sub_especie} %>
					<% end %>
				</div>
				</small>


			<% end %>

		<% end %>
	</div>
	<div class="col-lg-6 col-xs-12"></div>
</div>