<!-- FORMULARIO PARA NUEVA ESPECIE -->
<small><b class='text-info'>Nueva especie</b></small>
<%= form_for :nueva_especie, url: "/filo_especies/nuevo?class_name=#{@objeto.class.name}&objeto_id=#{@objeto.id}" do |form| %>

	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Especie', v: true } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :filo_especie } %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Nombre Común', v: false } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :nombre_comun } %>

	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'IUCN', v: false } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :iucn } %>
	</br>
	<button type="submit" class="btn btn-info">
	  <i class="bi bi-plus-circle icon-white"></i>
	  <i class="bi bi-bug"></i>
	</button>

<% end  %>
