<!-- USO VERIFICADO -->
<div style="padding-left: <%= objeto.n_indent %>em; line-height: 18px;">
	<small>

	<i class="bi bi-diagram-3 text-<%= objeto.revisar ? 'danger' : (objeto.mma_ok ? 'info' : 'dark') %>"></i>

	<small><%= objeto.filo_orden.filo_orden unless objeto.filo_orden.blank? %></small> : 

	<%= render layout: '0p/layout/tooltip_link', locals: {link: "/publicos/taxonomia?indice=#{objeto.id}", tooltip: 'Ver elemento'} do %>
		<b><%= objeto.filo_elemento %></b>
	<% end %>

	<% unless objeto.list_field.blank? %>
		<i class="bi bi-check2-all"></i>
	<% end %>
	
	</small>
</div>