<!-- USO VERIFICADO -->
<div class="tax-titulo">

	<%= render partial: 'taxonomia/filo_elementos/partials/links_padres', locals: {padres_ids: padres_ids} unless params[:indice].blank? %>

	<div class="row">
		<div class="col-8">
			<div style="padding-left: 1em;">
				<h5>
					<i class="bi bi-diagram-3 text-<%= params[:indice].blank? ? 'info' : (objeto.revisar ? 'danger' : (objeto.mma_ok ? 'info' : 'dark')) %>"></i>
					<span class='text-info'>
						Taxonomía
						<i class="bi bi-dot"></i> 
						<%= params[:indice].blank? ? 'Base de la estructura' : "[#{objeto.filo_orden.filo_orden unless objeto.filo_orden.blank?}] #{objeto.filo_elemento}" %>
					</span>
			</h5>
			</div>
		</div>
		<div class="col-4" align='right'>
			<% if admin? %>
			<div style="padding-right: 1em;">
				<!-- NUEVO ELEMENTO -->
				<%= render layout: '0p/collapse/link', locals: {label: 'NuevoElemento', objeto: nil, tooltip: 'Nuevo elemento'} do %>
					<i class="bi bi-plus-circle"></i> Elemento
				<% end %>

				<% unless params[:indice].blank? %>
					<!-- NUEVA ESPECIE -->
					<%= render layout: '0p/collapse/link', locals: {label: 'NuevaEspecie', objeto: nil, tooltip: 'Nueva especie'} do %>
						<i class="bi bi-plus-circle"></i> Especie
					<% end %>

					<!-- MUEVE ELEMENTO -->
					<%= render layout: '0p/collapse/link', locals: {label: 'MueveElemento', objeto: nil, tooltip: 'Mueve elemento'} do %>
						<i class="bi bi-diagram-2"></i>
					<% end %>

					<i class="bi bi-dot"></i>

					<small><%= render partial: '0p/tabla/links_e', locals: {objeto: objeto} %></small>
				<% end %>
			</div>
			<% end %>		
		</div>
	</div>

</div>