<p id="notice"><%= notice %></p>

<h1>Ind Bases</h1>

<table>
  <thead>
    <tr>
      <th>Clave</th>
      <th>Ind palabra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ind_bases.each do |ind_base| %>
      <tr>
        <td><%= ind_base.clave_id %></td>
        <td><%= ind_base.ind_palabra_id %></td>
        <td><%= link_to 'Show', ind_base %></td>
        <td><%= link_to 'Edit', edit_ind_base_path(ind_base) %></td>
        <td><%= link_to 'Destroy', ind_base, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ind Base', new_ind_base_path %>
