<!-- FORMULARIO PARA NUEVA ESPECIE -->
<small><b class='text-info'>Nueva especie</b></small>
<%= form_for :nueva_especie, url: "/filo_especies/nuevo?class_name=#{objeto.class.name unless objeto.blank?}&objeto_id=#{objeto.id unless objeto.blank?}" do |form| %>

	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Especie', v: true } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :filo_especie } %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Referencia', v: false } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :referencia } %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Nombre Común', v: false } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :nombre_comun } %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Link Fuente', v: false } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :link_fuente } %>

	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Sinonimia', v: false } %>
	<%= render partial: '0p/form_fields/text_area', locals: { form: form, token: :sinonimia } %>

	<%= render partial: '0p/form_fields/check_box', locals: {form: form, token: :revisar, label: 'Revisar!'} %></br>
	
	</br>
	<button type="submit" class="btn btn-info">
	  <i class="bi bi-plus-circle icon-white"></i>
	  <i class="bi bi-bug"></i>
	</button>

<% end  %>
