<!-- FORMULARIO PARA NUEVA ESPECIE -->
<small><b class='text-info'>Nueva especie</b></small>
<%= form_for :nueva_especie, url: "/filo_especies/nuevo?class_name=#{objeto.class.name unless objeto.blank?}&objeto_id=#{objeto.id unless objeto.blank?}" do |form| %>



		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Tipo de Especie', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :filo_tipo_especie_id, colection: FiloTipoEspecie.all.order(:filo_tipo_especie).collect { |fte| [fte.filo_tipo_especie, fte.id] }, display_field: 'filo_tipo_especie', prompt: 'Tipo de Especie' } %></br>

		<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Categoria de Conservación', v: true } %>
		<%= render partial: '0p/form_fields/select_id', locals: { form: form, token: :filo_categoria_conservacion_id, colection: FiloCategoriaConservacion.order(:filo_categoria_conservacion).collect { |fcc| [fcc.filo_categoria_conservacion, fcc.id] }, display_field: 'filo_categoria_conservacion', prompt: 'Categoria de Conservación' } %></br>



	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Especie', v: true } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :filo_especie } %>
	<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Nombre Común', v: false } %>
	<%= render partial: '0p/form_fields/text', locals: { form: form, token: :nombre_comun } %>
	</br>
	<button type="submit" class="btn btn-info">
	  <i class="bi bi-plus-circle icon-white"></i>
	  <i class="bi bi-bug"></i>
	</button>

<% end  %>
