<%= form_with(model: ascendencia, local: true) do |form| %>
  <% if ascendencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ascendencia.errors.count, "error") %> prohibited this ascendencia from being saved:</h2>

      <ul>
      <% ascendencia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :padre_id %>
    <%= form.number_field :padre_id %>
  </div>

  <div class="field">
    <%= form.label :hijo_id %>
    <%= form.number_field :hijo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
