<p id="notice"><%= notice %></p>

<h1>Ascendencias</h1>

<table>
  <thead>
    <tr>
      <th>Padre</th>
      <th>Hijo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ascendencias.each do |ascendencia| %>
      <tr>
        <td><%= ascendencia.padre_id %></td>
        <td><%= ascendencia.hijo_id %></td>
        <td><%= link_to 'Show', ascendencia %></td>
        <td><%= link_to 'Edit', edit_ascendencia_path(ascendencia) %></td>
        <td><%= link_to 'Destroy', ascendencia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ascendencia', new_ascendencia_path %>
