<%= form_with(model: ind_palabra, local: true) do |form| %>
  <% if ind_palabra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ind_palabra.errors.count, "error") %> prohibited this ind_palabra from being saved:</h2>

      <ul>
      <% ind_palabra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ind_palabra %>
    <%= form.text_field :ind_palabra %>
  </div>

  <div class="field">
    <%= form.label :ind_lenguaje_id %>
    <%= form.number_field :ind_lenguaje_id %>
  </div>

  <div class="field">
    <%= form.label :ind_clave_id %>
    <%= form.number_field :ind_clave_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
