<p id="notice"><%= notice %></p>

<h1>Ind Palabras</h1>

<table>
  <thead>
    <tr>
      <th>Ind palabra</th>
      <th>Ind lenguaje</th>
      <th>Ind clave</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ind_palabras.each do |ind_palabra| %>
      <tr>
        <td><%= ind_palabra.ind_palabra %></td>
        <td><%= ind_palabra.ind_lenguaje_id %></td>
        <td><%= ind_palabra.ind_clave_id %></td>
        <td><%= link_to 'Show', ind_palabra %></td>
        <td><%= link_to 'Edit', edit_ind_palabra_path(ind_palabra) %></td>
        <td><%= link_to 'Destroy', ind_palabra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ind Palabra', new_ind_palabra_path %>
