<h5>
	<!-- COLOR DEL ICONO DE ESPECIE -->
	<i class="bi bi-bug text-<%= objeto.revisar ? 'danger' : (objeto.link_fuente.present? ? 'info' : 'dark') %>"></i>

	<span class='text-info'>
		<%= objeto.parent.blank? ? 'Especie' : 'Sub especie' %>
		<!-- publicos/especies -->
		<% if action_name == 'especies' %>
			<%= objeto.filo_especie %>
		<!-- publicos/publicaciones -->
		<% else %>
			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/publicos/especies?indice=#{objeto.id}", tooltip: 'Ver Especie'} do %>
				<%= objeto.filo_especie %>
			<% end %>
		<% end %>

		<% unless objeto.multiple_referencia.blank? %>
			( <%= objeto.multiple_referencia %> )
		<% end %>
	</span>

	<!-- INVENTARIO ESPECIES MMA -->
	<% if objeto.link_fuente.present? %>
		<%= render layout: '0p/layout/ext_tooltip_link', locals: {link: objeto.link_fuente, tooltip: 'Ver especie en inventario MMA'} do %>
		<%#= link_to objeto.link_fuente, target: '_blank' do %>
			<i class="bi bi-box-arrow-up-right"></i>
		<% end %>
	<% end %>

	<!-- PUBLICACIONES -->
	<% unless objeto.n_pubs == 0 or action_name == 'publicaciones' %>
		<% render layout: '0p/layout/tooltip_link', locals: {link: "/publicos/publicaciones?indice=#{objeto.id}", tooltip: 'Publicaciones especie + sinonimia'} do %>
			<i class="bi bi-files"></i>
		<% end %>
	<% end %>

	<% if objeto.especie.present? %>
		<small>	
		<%= render layout: '0p/layout/tooltip_link', locals: {link: objeto.especie, tooltip: 'Publicaciones especie'} do %>
			<%= render partial: '0p/general/gly', locals: {gly: 'tag'} %>
			<%= "(#{objeto.especie.publicaciones.count})" %>
		<% end %>
		</small>
	<% end %>

</h5>