<div style="padding-left: 1em;">
	<small><small>
		<b>
		<% if interaccion.primer_rol.blank? %>
			<%= render layout: '0p/collapse/link', locals: {label: 'SelPrimer', objeto: interaccion, tooltip: "Seleccionar #{interaccion.primer_def_rol.filo_def_rol}"} do %>
				<%= interaccion.primer_def_rol.filo_def_rol %>
			<% end %>
		<% else %>
			<%= interaccion.primer_rol.filo_especie.filo_especie %> 
		<% end %>
		
		<i class="bi bi-arrow-right"></i> 
		<% if interaccion.segundo_rol.blank? %>
			<%= render layout: '0p/collapse/link', locals: {label: 'SelSegundo', objeto: interaccion, tooltip: "Seleccionar #{interaccion.segundo_def_rol.filo_def_rol}"} do %>
				<%= interaccion.segundo_def_rol.filo_def_rol %>
			<% end %>
		<% else %>
			<%= interaccion.segundo_rol.filo_especie.filo_especie %> 
		<% end %>

		</br>
		</b>
	</small></small>
</div>