<%= form_with(model: per_car, local: true) do |form| %>
  <% if per_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(per_car.errors.count, "error") %> prohibited this per_car from being saved:</h2>

      <ul>
      <% per_car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :app_perfil_id %>
    <%= form.number_field :app_perfil_id %>
  </div>

  <div class="field">
    <%= form.label :carpeta_id %>
    <%= form.number_field :carpeta_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
