<p id="notice"><%= notice %></p>

<p>
  <strong>App perfil:</strong>
  <%= @per_car.app_perfil_id %>
</p>

<p>
  <strong>Carpeta:</strong>
  <%= @per_car.carpeta_id %>
</p>

<%= link_to 'Edit', edit_per_car_path(@per_car) %> |
<%= link_to 'Back', per_cares_path %>
