<%= form_with(model: ind_clave, local: true) do |form| %>
  <% if ind_clave.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ind_clave.errors.count, "error") %> prohibited this ind_clave from being saved:</h2>

      <ul>
      <% ind_clave.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ind_clave %>
    <%= form.text_field :ind_clave %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
