<small>
	<i class="bi bi-diagram-3 <%= 'text-danger if objeto.revisar %>' '></i> [ <b><%= objeto.filo_orden.filo_orden %></b> ] <%= objeto.filo_elemento %></br>
	<% objeto.filo_especies.each do |especie| %>
		<div class="especies" style="padding-left: 1em">
			<i class="bi bi-bug"></i> <%= especie.filo_especie %> 
			<% if especie.especies.any? %>
				<%= link_to especie.especies.first, title: 'etiqueta', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
					<i class="bi bi-tag"></i>
					<% if especie.especies.first.filo_sinonimo.present? %>
						<i class="bi bi-back text-primary"></i>
					<% end %>
				<% end %>
			<% end %> | 
			<% unless especie.especies.count == 0 %>
				<%= especie.especies.first.publicaciones.count %>
			<% end %>
			</br>
			<% especie.children.each do |sub_especie| %>
				<div class="sub_especies" style="padding-left: 2em">
					<i class="bi bi-bug-fill"></i> <%= sub_especie.filo_especie %>
					<% if sub_especie.especies.any? %>
						<%= link_to sub_especie.especies.first, title: 'etiqueta', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
							<i class="bi bi-tag"></i>
							<% if sub_especie.especies.first.filo_sinonimo.present? %>
								<i class="bi bi-back text-primary"></i>
							<% end %>
						<% end %>
					<% end %> | 
					<% unless sub_especie.especies.count == 0 %>
						<%= sub_especie.especies.first.publicaciones.count %>
					<% end %>
					</br>
				</div>
			<% end %>
		</div>
	<% end %>
</small>