<p id="notice"><%= notice %></p>

<p>
  <strong>Ind modelo:</strong>
  <%= @ind_modelo.ind_modelo %>
</p>

<p>
  <strong>Campos:</strong>
  <%= @ind_modelo.campos %>
</p>

<p>
  <strong>Ind estructura:</strong>
  <%= @ind_modelo.ind_estructura_id %>
</p>

<%= link_to 'Edit', edit_ind_modelo_path(@ind_modelo) %> |
<%= link_to 'Back', ind_modelos_path %>
