<div class='row'>
	<div class='col-md-2'>
		<small><%= form.label 'Orden' %></br>
		<%= form.select :filo_orden_id, FiloOrden.all.order(:orden).collect { |orden| [orden.filo_orden, orden.id] }, include_blank: true %></br>
		</small>
	</div>
	<div class='col-md-2'>
		<small>
		<%= form.label 'Área' %></br>
		<%= form.select :area_id, Area.all.order(:area).collect { |area| [area.area, area.id] }, include_blank: true %>
		</small>
	</div>
	<div class='col-md-8'>
		<small><%= form.label 'Elemento' %></small></br>
		<%= form.text_field(:filo_elemento, class: 'form-control') %>
	</div>
</div>

<%= render partial: '0p/form_fields/check_box', locals: {form: form, token: :mma_ok, label: 'MMA OK'} %>
<%= render partial: '0p/form_fields/check_box', locals: {form: form, token: :revisar, label: 'Revisar!'} %></br>

<small><%= form.label 'Descripción' %></small></br>
<%= form.text_field(:descripcion, class: 'form-control') %></br>

<%= render partial: '0p/form_fields/label', locals: { form: form, label: 'Hijos', v: false } %>
<%= render partial: '0p/form_fields/text', locals: { form: form, token: :list_field } %>
