<i class='text-muted'><small>Nueva carpeta</small></i>
<%= form_for :nueva_carpeta, url: "/carpetas/nuevo?objeto_id=#{@objeto.id}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:carpeta, size: 35, class: 'form-control' ) %>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-plus-circle icon-white"></i>
		  <i class="bi bi-folder icon-white"></i>
		</button>
	</div>
<% end  %>

</br>

<% @coleccion_usuario.each do |objeto| %>
	<div class='row'>
		<div class='col-md-10'>
			<small>
			<% if @coleccion_publicacion.ids.include?(objeto.id) %><b class='text-info'><i class="bi bi-check2-all"></i><% else %><i class='text-muted'><% end %>
				<%= objeto.send(objeto.class.name.downcase)  %>
			<% if @coleccion_publicacion.ids.include?(objeto.id) %></b><% else %></i><% end %>
			</small>
		</div>
		<div class='col-md-2'>
			<% if @coleccion_publicacion.ids.include?(objeto.id) %>
  				<%= link_to link_x_btn(objeto, '/desasignar', true) do %>
  					<i class="bi bi-x-circle"></i>
  				<% end %>
			<% else %>
  				<%= link_to link_x_btn(objeto, '/asigna', true) do %>
  					<i class="bi bi-plus-circle"></i>
  				<% end %>
			<% end %>
		</div>
	</div>
<% end %>