<div class="lmenu-box">
	<div class="row">
		<div class="col-10 text-info">
			<i class="bi bi-check-square"></i> Categorías
		</div>
		<div class="col-2">
			<% if admin? %>
				<%= render layout: '0p/collapse/link', locals: {label: 'SelCategoria', objeto: nil, tooltip: 'Agregar Categoría'} do %>
					<i class="bi bi-plus-circle"></i>
				<% end %>
		  	<% end %>
		</div>
	</div>

	<% if admin? %>
		<%= render layout: '0p/collapse/display', locals: {label: 'SelCategoria', objeto: nil} do %>
			<small class="text-info"><b>Seleccionar Categoría</small></b></br>
			<div class="collapse-display-list">
				<% @categorias_disponibles.each do |categoria_objeto| %>
					<small><%= link_to categoria_objeto.categoria, "/categorias/#{categoria_objeto.id}/asigna?class_name=Publicacion&objeto_id=#{@objeto.id}" %></small></br>
				<% end %>
			</div>
		<% end %>
	<% end %>

	<small>
	<div style="padding-left: 1em; padding-right: 2em; line-height: 15px;">
		<% @objeto.categorias.order(:categoria).each do |categoria| %>
			<div class="row">
				<div class="col-10">
					<%= link_to categoria.categoria, "/vistas?html_options[modelo]=Categoria&html_options[id]=#{categoria.id}" %>
				</div>
				<div class="col-2">
			   		<% if admin? and @objeto.categorias.count > 1 %>
			   			<%= render layout: '0p/layout/tooltip_link', locals: {link: "/categorias/#{categoria.id}/desasignar?class_name=Publicacion&objeto_id=#{@objeto.id}", tooltip: 'Desasigna categoria'} do %>
				   			<i class="bi bi-trash"></i>
				   		<% end %>
			   		<% end %>
				</div>
			</div>
		<% end %>
	</div>
	</small>

</div>