<div class="lmenu-box">
	<div class="row">
		<div class="col-10 text-info">
			<i class="bi bi-share"></i> Compartidas
		</div>
		<div class="col-2">
			<%= render layout: '0p/collapse/link', locals: {label: 'NuevaCompartida', objeto: nil, tooltip: 'Nueva Compartida'} do %>
				<i class="bi bi-plus-circle"></i>
			<% end %>
		</div>
	</div>

	<%= render layout: '0p/collapse/display', locals: {label: 'NuevaCompartida', objeto: nil} do %>
		<small class="text-info">Nueva Compartida</small>
		<%= render partial: "publicaciones/partials/form_compartidas", locals: {objeto: @objeto} %>

		<small class="text-info">Selecciona Compartida</small>
		<small>
		<div style="padding-left: 2em; padding-right: 2em; line-height: 15px;">
			<% perfil_activo.compartidas.order(:carpeta).each do |carpeta| %>
	   			<%= link_to "/carpetas/#{carpeta.id}/asigna?class_name=#{@objeto.class.name}&objeto_id=#{@objeto.id}" do %>
					<%#= link_to carpeta.carpeta, "/vistas?html_options[modelo]=Carpeta&html_options[id]=#{carpeta.id}" %>
					<%= carpeta.carpeta %></br>
	   			<% end %>
			<% end %>
			<hr>
		</div>
		</small>
	<% end %>

	<small>
	<div style="padding-left: 1em; padding-right: 2em; line-height: 15px;">
		<% @objeto.carpetas.where(id: perfil_activo.compartidas.ids).order(:carpeta).each do |carpeta| %>
			<div class="row">
				<div class="col-10">
					<%= link_to carpeta.carpeta, "/vistas?html_options[modelo]=Carpeta&html_options[id]=#{carpeta.id}" %>
				</div>
				<div class="col-2">
					<%= render layout: '0p/layout/tooltip_link', locals: {link: "/carpetas/#{carpeta.id}/desasignar?class_name=Publicacion&objeto_id=#{@objeto.id}", tooltip: 'Desasigna Compartida'} do %>
			   			<i class="bi bi-trash"></i>
			   		<% end %>
				</div>
			</div>
		<% end %>
	</div>
	</small>

</div>