<p class='text-info'>
	<i class="bi bi-tag"></i>
	Especies
	<% if admin? %>
		<a data-toggle="collapse" href="#collapseEspecies" role="button" aria-expanded="false" aria-controls="collapseEspecies">
			<i class="bi bi-plus-circle"></i>
		</a>
  	<% end %>
</p>

<% if admin? %>
	<div class="collapse" id="collapseEspecies">
		<div class="card card-body">
			<small>
				<i class='text-muted'><small>Etiquetar nueva especie</small></i>
				<%= form_for :especie_base, url: "/especies/asigna?class_name=Publicacion&objeto_id=#{@objeto.id}" do |form| %>
					<div class='form-inline'>
						<%= form.text_field(:especie, class: 'form-control' ) %>
						<button type="submit" class="btn btn-info">
						  <i class="bi bi-plus-circle icon-white"></i>
						  <i class="bi bi-tag icon-white"></i>
						</button>
					</div>
				<% end  %>
			</small>
		</div>
	</div>
<% end %>

<small>
<ul>
	<% @objeto.especies.order(:especie).each do |especie| %>
	   	<li>
	   		<% if admin? %>
		   		<%= link_to "/especies/#{especie.id}/desasignar?class_name=Publicacion&objeto_id=#{@objeto.id}" do %>
		   			<i class="bi bi-x-circle"></i>
		   		<% end %>
	   		<% end %>
	   		<% unless especie.filo_especie.blank? %>
	   			<%= link_to especie.filo_especie do %>
	   				<i class="bi bi-bug"></i>
	   			<% end %>
	   		<% end %>
	   		<%= link_to especie.especie, especie %>
	   	</li>
	<% end %>
</ul>
</small>