<h5>
<i class="bi bi-bug text-<%= objeto.revisar ? 'danger' : (objeto.link_fuente.present? ? 'info' : 'dark') %>"></i>

<%= link_to objeto.filo_especie, "/publicos/especies?indice=#{objeto.id}", title: 'Ficha especie', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

<small>
<% if objeto.link_fuente.present? %>
	<%= link_to objeto.link_fuente, target: '_blank', title: 'MMA', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
		<i class="bi bi-box-arrow-up-right"></i>
	<% end %>
<% end %>

<% unless objeto.n_pubs == 0 %>
	<%= link_to "/publicos/publicaciones?indice=#{objeto.id}", title: 'Publicaciones especie', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
		<i class="bi bi-files"></i>
	<% end %>
<% end %>

<% if objeto.especie_sinonimo? %>
	<i class="bi bi-question-diamond text-danger"></i>
<% end %>

<%= ": #{objeto.n_pubs}" %>

<% unless objeto.sinonimia.blank? %>
	<i class="bi bi-collection text-<%= objeto.filo_sinonimos.empty? ? 'danger' : 'info'%>"></i>
<% end %>
<% unless objeto.children.empty? %>
	<i class="bi bi-bug text-info"></i>
<% end %>
</small>

</h5>



<%= render partial: 'taxonomia/filo_especies/taxonomia/line_especie', locals: {objeto: objeto} %>
<div class="row">
	<div class="col-xs-12 col-lg-6">
		<%= image_tag objeto.imagenes.last.imagen.half.url, class: 'img-fluid' %>
	</div>
	<div class="col-lg-6">
		<small>
		<p class='text-info'>Sinónimo(s)</p>
		<small>
		<ul>
		<% objeto.filo_sinonimos.each do |sino| %>
			<% unless sino.especie.blank? %>
			<li>
				<%= link_to sino.filo_sinonimo, sino.especie %> | <%= sino.especie.publicaciones.count %>
			</li>
			<% end %>
		<% end %>		
		</ul></small></small>

		<small>
		<p class='text-info'>Categoría(s)</p>
		<small>
		<ul>
		<% objeto.h_categorias.keys.sort.each do |h_key| %>
			<li>
				<%= h_key.to_s %> | <%= objeto.h_categorias[h_key].length %>
			</li>
		<% end %>		
		</ul></small></small>
	</div>
</div>
