<h4 class="text-info">Especie destacada de nuestra coleccion Taxonomía</h4>

<div class="row">
	<div class="col-xs-12 col-lg-6">
		<%= render partial: 'taxonomia/filo_especies/taxonomia/titulo_ficha_especie', locals: {objeto: objeto} %>
		<%= image_tag objeto.imagenes.last.imagen.half.url, class: 'img-fluid' %>
	</div>
	<div class="col-lg-6">
		<small>
		<p class='text-info'>Sinónimo(s)</p>
		<small>
		<ul>
		<% objeto.filo_sinonimos.each do |sino| %>
			<% unless sino.especie.blank? %>
			<li>
				<%= link_to sino.filo_sinonimo, sino.especie %> | <%= sino.especie.publicaciones.count %>
			</li>
			<% end %>
		<% end %>		
		</ul></small></small>

		<small>
		<p class='text-info'>Categoría(s)</p>
		<small>
		<ul>
		<% objeto.h_categorias.keys.sort.each do |h_key| %>
			<li>
				<%= h_key.to_s %> | <%= objeto.h_categorias[h_key].length %>
			</li>
		<% end %>		
		</ul></small></small>
	</div>
</div>
<%= bar_chart @grafico %>
