<!-- CARPETAS -->
<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Gestion de Carpetas', size: '6'} %>

<%= form_for :nueva_carpeta, url: "/carpetas/nuevo?objeto_id=#{@objeto.id}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:carpeta, size: 28, class: 'form-control' ) %>
		<%= form.submit '+ Carpeta'  %>
	</div>
<% end  %>

<% if @carpetas_seleccion.any? %>
	<%= form_for :carpeta_base, url: "/carpetas/asigna?publicacion_id=#{@objeto.id}" do |form| %>
		<div class='form-inline'>
			<%= form.select :carpeta_id, @carpetas_seleccion.collect { |cpta| [cpta.carpeta, cpta.id] }, include_blank: false, prompt: "Seleccione Carpeta" %>
			<%= form.submit 'Asignar'  %>
		</div>
	<% end  %>
<% end %>
<!--/br-->
<% unless @coleccion['carpetas'].empty? %>
	<%= render partial: '0p/tabla/tabla', locals: {c: 'carpetas', a: 'index'} %>
	</br>
<% end %>
