<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Cita', size: '6'} %>

<h6><%= "| #{@objeto.doc_type} | #{@objeto.estado} | #{@objeto.areas.map {|aa| aa.area}.join(' | ')} |" %></h6>
<h6><%= @objeto.m_quote %></h6>

<% unless @objeto.doi.blank? %>
	<%= link_to "https://doi.org/#{@objeto.doi}", "https://doi.org/#{@objeto.doi}", target: :blank %>
<% end %>

<% if @objeto.abstract.present? %>

	<%= render partial: '0p/general/titulo', locals: {c: nil, a: nil, titulo: 'Abstract', size: '6'} %>
	<small><%= sanitize @objeto.d_abstract  %></small>

<% end %>

<% if usuario_signed_in? %>
	<% unless @duplicados_ids.empty? %>
		<% @duplicados.each do |duplicado| %>
			<h6><%= "| "%><%=link_to duplicado.doc_type, duplicado%><%=" | #{duplicado.estado} | #{duplicado.areas.map {|aa| aa.area}.join(' | ') unless duplicado.areas.empty?} |" %></h6>
			<h6><%= duplicado.m_quote %></h6>
		<% end %>
	<% end %>

	</br>

	<%#= render partial: 'publicaciones/ruta_conceptual' %>

	<div class='row'>
		<div class='col-md-6'>
			<%#= render partial: 'publicaciones/categorias' %>
		</div>
		<div class='col-md-6'>
			<%#= render partial: '0p/general/titulo', locals: {c: 'especies', a: nil, titulo: 'Especies', size: '6'} %>
		</div>
	</div>

<% end %>
