<%= render partial: 'publicaciones/partials/header' %>
<hr>
<div class='row'>
	<div class='col-md-4'>
		<%= render partial: '0p/tabs/tabs', locals: { tabs: @tabs, options: @options, token: :menu } %>

		<% if usuario_signed_in? %>
			<% if admin? %>
				<%= render partial: 'publicaciones/partials/areas' if @options[:menu] == 'Áreas' %>
				<%= render partial: 'publicaciones/partials/categorias' if @options[:menu] == 'Categorías' %>
			<% end %>
			<% if @objeto.estado == 'publicada' %>
				<%= render partial: 'publicaciones/partials/carpetas' if @options[:menu] == 'Carpetas' %>
			<% end %>
		<% end %>
		<% if (@objeto.estado == 'publicada') %>
			<%= render partial: 'publicaciones/partials/especies' if @options[:menu] == 'Especies' %>
		<% end %>
	</div>
	<div class='col-md-6'>
		<%= render partial: 'publicaciones/partials/links' %>
		<hr>
		<%= render partial: 'publicaciones/partials/cita' %>
		<hr>
		<%= render partial: 'publicaciones/partials/abstract' %>
		<hr>
		<%= render partial: 'publicaciones/partials/indices' if admin? %>
	</div>
</div>
<hr>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Observaciones', gly: 'chat', clr: 'success'} %>
		<%= render partial: 'aplicacion/app_observaciones/index' %>
		<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'app_observaciones', clr: 'info', gly: 'plus-circle'} %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Mejoras', gly: 'exclamation-diamond', clr: 'info'} %>
		<%= render partial: 'aplicacion/app_mejoras/index' %>
		<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'app_mejoras', clr: 'info', gly: 'plus-circle'} %>
	</div>
</div>
