<%= render partial: '0p/show/links', locals: {o: @objeto} %>

<%= render partial: 'publicaciones/botones_doc_type' %>

<!-- CARPETAS Y DESPLIEGUE DE CITA -->
<div class='row'>

	<%= render partial: 'publicaciones/cuerpo_publicacion' %>

</div>
</br></br></br>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: 'observaciones', a: nil, titulo: 'Observaciones', size: '5'} %>
		<%= render partial: 'aplicacion/observaciones/index' %>
		<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'observaciones'} %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/titulo', locals: {c: 'mejoras', a: nil, titulo: 'Mejoras', size: '5'} %>
		<%= render partial: 'aplicacion/mejoras/index' %>
		<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'mejoras'} %>
	</div>
</div>
