<%= render partial: 'publicaciones/partials/header' %>
<hr>
<div class='row'>
	<div class='col-md-4'>

		<%= render partial: 'publicaciones/partials/areas' %>
		<%= render partial: 'publicaciones/partials/categorias' %>

		<% if @objeto.estado == 'publicada' %>
			<% if usuario_signed_in? %>
				<%= render partial: 'publicaciones/partials/carpetas', locals: {titulo: 'Carpetas', coleccion: perfil_activo.carpetas.order(:carpeta), tag: 'Carpetas' } %>
				<%= render partial: 'publicaciones/partials/carpetas', locals: {titulo: 'Carpetas compartidas', coleccion: perfil_activo.compartidas.order(:carpeta), tag: 'Compartidas' } %>
			<% end %>

			<%= render partial: 'publicaciones/partials/especies' %>
		<% end %>

	</div>
	<div class='col-md-6'>
		<% unless @duplicados.blank? %>
			<p class="text-danger">Esta publicación puede ya existir en la colección!</p>
			<small>
			<ul>
				<% @duplicados.each do |duplicado| %>
					<li><%= link_to duplicado.title, duplicado %></li>
				<% end %>
			</ul>
			</small>
		<% end %>

		<%= render partial: 'publicaciones/partials/links' %>
		<hr>
		<%= render partial: 'publicaciones/partials/cita' %>
		<hr>
		<%= render partial: 'publicaciones/partials/abstract' %>
		<hr>
		<%#= render partial: 'publicaciones/partials/indices' if admin? %>

		<% if dog? %>
			<hr>
			<%= "Número de índices: #{@objeto.indices.count}" %></br>
			<% @objeto.indices.each do |indice| %>
				<%= indice.ind_clave.ind_clave unless indice.ind_clave.blank? %> | <%= indice.ind_palabra.ind_palabra unless indice.ind_palabra_id.blank? %></br>
			<% end %>
		<% end %>

	</div>
</div>
<hr>
<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Observaciones', gly: 'chat', clr: 'success'} %>
		<%= render partial: 'recursos/app_observaciones/index' %>
		<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'app_observaciones', clr: 'info', gly: 'plus-circle'} %>
	</div>
	<div class='col-md-6'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Mejoras', gly: 'exclamation-diamond', clr: 'info'} %>
		<%= render partial: 'recursos/app_mejoras/index' %>
		<%= render partial: '0p/tabla/ext_btn_nuevo', locals: {o: @objeto, c: 'app_mejoras', clr: 'info', gly: 'plus-circle'} %>
	</div>
</div>