<%= form_with(model: etiqueta, local: true) do |form| %>
  <% if etiqueta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etiqueta.errors.count, "error") %> prohibited this etiqueta from being saved:</h2>

      <ul>
      <% etiqueta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :categoria_id %>
    <%= form.number_field :categoria_id %>
  </div>

  <div class="field">
    <%= form.label :publicacion_id %>
    <%= form.number_field :publicacion_id %>
  </div>

  <div class="field">
    <%= form.label :especie_id %>
    <%= form.number_field :especie_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
