<p id="notice"><%= notice %></p>

<h1>Ind Expresiones</h1>

<table>
  <thead>
    <tr>
      <th>Ind expresion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ind_expresiones.each do |ind_expresion| %>
      <tr>
        <td><%= ind_expresion.ind_expresion %></td>
        <td><%= link_to 'Show', ind_expresion %></td>
        <td><%= link_to 'Edit', edit_ind_expresion_path(ind_expresion) %></td>
        <td><%= link_to 'Destroy', ind_expresion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ind Expresion', new_ind_expresion_path %>
