<div class="tax-box">
	<div class="text-info" align='center'>Especie destacada de nuestra coleccion Taxonomía</div>
	<%= render partial: 'taxonomia/filo_especies/partials/line/line_especie', locals: {objeto: objeto} %>
	<% unless objeto.children.empty? %>
		<% objeto.children.order(:filo_especie).each do |subespecie| %>
			<%= render partial: 'taxonomia/filo_especies/partials/line_especie', locals: {objeto: subespecie} %>
		<% end %>
	<% end %>
</div>
<div class="row">
	<div class="col-lg-6 col-xs-12">
		<%= render partial: 'aplicacion/publicos/publicaciones/etiqueta_especie', locals: {objeto: objeto} %>
		<div class="tax-box">
			<%= image_tag objeto.imagenes.last.imagen.half.url, class: 'img-fluid' %>
		</div>
	</div>
	<div class="col-lg-6">
		<%= render partial: 'aplicacion/publicos/publicaciones/sinonimos', locals: {objeto: objeto} %>
		<%= render partial: 'aplicacion/publicos/publicaciones/categorias', locals: {objeto: objeto} %>
	</div>
</div>

<div class="tax-box">
	<p class="text-info">Publicaciones de la especie por año</p>
	<%= bar_chart @grafico %>
</div>