<p id="notice"><%= notice %></p>

<h1>Ind Direcciones</h1>

<table>
  <thead>
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ind_direcciones.each do |ind_direccion| %>
      <tr>
        <td><%= ind_direccion.origen_id %></td>
        <td><%= ind_direccion.destino_id %></td>
        <td><%= link_to 'Show', ind_direccion %></td>
        <td><%= link_to 'Edit', edit_ind_direccion_path(ind_direccion) %></td>
        <td><%= link_to 'Destroy', ind_direccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ind Direccion', new_ind_direccion_path %>
