<p id="notice"><%= notice %></p>

<p>
  <strong>Origen:</strong>
  <%= @ind_direccion.origen_id %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @ind_direccion.destino_id %>
</p>

<%= link_to 'Edit', edit_ind_direccion_path(@ind_direccion) %> |
<%= link_to 'Back', ind_direcciones_path %>
