<%= form_with(model: filo_especie, local: true) do |form| %>
  <% if filo_especie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filo_especie.errors.count, "error") %> prohibited this filo_especie from being saved:</h2>

      <ul>
      <% filo_especie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :filo_especie %>
    <%= form.text_field :filo_especie %>
  </div>

  <div class="field">
    <%= form.label :nombre_comun %>
    <%= form.text_field :nombre_comun %>
  </div>

  <div class="field">
    <%= form.label :iucn %>
    <%= form.text_field :iucn %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
