<h5><i class="bi bi-bug"></i><%= @objeto.filo_especie %></h5>
<small>Padre: <%= @objeto.padre.class.name %> <%= link_to @objeto.padre.send(@objeto.padre.class.name.tableize.singularize), @objeto.padre unless @objeto.padre.blank? %></small></br>

<% if admin? %>
	<div class='row'>
		<div class='col-md-6'>
			<% if @objeto.padre.class.name == 'FiloElemento' %>
				<%= render partial: '0p/general/icon_text', locals: {text: 'Sub Especies', gly: 'bug', clr: 'info'} %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_especies'} %>

				<%= render partial: 'filo_especies/partials/form_nueva_sub_especie' %>
			<% end  %>
			<hr>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Sinonimia', gly: 'bug', clr: 'info'} %>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'sinonimos-filo_especies'} %>

			<%= render partial: 'filo_especies/partials/form_nuevo_sinonimo' %>
		</div>
		<div class='col-md-6'>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Etiquetas de especies asociadas', gly: 'tag', clr: 'info'} %>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'especies'} %>

			<%= render partial: 'filo_especies/partials/form_asociar_etiqueta' %>
		</div>
	</div>
	<hr>
<% end %>

<div class='row'>
	<div class='col-md-4'>

<i class='text-muted'><small>Nueva carpeta</small></i>
<%= form_for :nueva_carpeta, url: "/carpetas/nuevo?objeto_id=#{@objeto.id}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:carpeta, size: 35, class: 'form-control' ) %>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-plus-circle icon-white"></i>
		  <i class="bi bi-folder icon-white"></i>
		</button>
	</div>
<% end  %>

</br>

<% @coleccion_usuario.each do |objeto| %>
	<div class='row'>
		<div class='col-md-10'>
			<small>
			<% if @coleccion_publicacion.ids.include?(objeto.id) %><b class='text-info'><i class="bi bi-check2-all"></i><% else %><i class='text-muted'><% end %>

				<%= link_to objeto.send(objeto.class.name.downcase), objeto  %>

			<% if @coleccion_publicacion.ids.include?(objeto.id) %></b><% else %></i><% end %>
			</small>
		</div>
		<div class='col-md-2'>
			<% if @coleccion_publicacion.ids.include?(objeto.id) %>
  				<%= link_to link_x_btn(objeto, '/desasignar', true) do %>
  					<i class="bi bi-x-circle"></i>
  				<% end %>
			<% else %>
  				<%= link_to link_x_btn(objeto, '/asigna', true) do %>
  					<i class="bi bi-plus-circle"></i>
  				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

	</div>
	<div class='col-md-8'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Publicaciones', gly: 'bug', clr: 'info'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'publicaciones'} %>
	</div>
</div>
