<p id="notice"><%= notice %></p>

<p>
  <strong>Filo def interaccion:</strong>
  <%= @filo_interaccion.filo_def_interaccion_id %>
</p>

<p>
  <strong>Publicacion:</strong>
  <%= @filo_interaccion.publicacion_id %>
</p>

<%= link_to 'Edit', edit_filo_interaccion_path(@filo_interaccion) %> |
<%= link_to 'Back', filo_interacciones_path %>
