<p id="notice"><%= notice %></p>

<p>
  <strong>Concepto:</strong>
  <%= @diccionario.concepto_id %>
</p>

<p>
  <strong>Instancia:</strong>
  <%= @diccionario.instancia_id %>
</p>

<%= link_to 'Edit', edit_diccionario_path(@diccionario) %> |
<%= link_to 'Back', diccionarios_path %>
