<p id="notice"><%= notice %></p>

<h1>Filo Conf Elems</h1>

<table>
  <thead>
    <tr>
      <th>Filo conflicto</th>
      <th>Filo elem class</th>
      <th>Filo elem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filo_conf_elems.each do |filo_conf_elem| %>
      <tr>
        <td><%= filo_conf_elem.filo_conflicto_id %></td>
        <td><%= filo_conf_elem.filo_elem_class %></td>
        <td><%= filo_conf_elem.filo_elem_id %></td>
        <td><%= link_to 'Show', filo_conf_elem %></td>
        <td><%= link_to 'Edit', edit_filo_conf_elem_path(filo_conf_elem) %></td>
        <td><%= link_to 'Destroy', filo_conf_elem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filo Conf Elem', new_filo_conf_elem_path %>
