<p id="notice"><%= notice %></p>

<p>
  <strong>Filo conflicto:</strong>
  <%= @filo_conf_elem.filo_conflicto_id %>
</p>

<p>
  <strong>Filo elem class:</strong>
  <%= @filo_conf_elem.filo_elem_class %>
</p>

<p>
  <strong>Filo elem:</strong>
  <%= @filo_conf_elem.filo_elem_id %>
</p>

<%= link_to 'Edit', edit_filo_conf_elem_path(@filo_conf_elem) %> |
<%= link_to 'Back', filo_conf_elems_path %>
