<div class='row'>
	<div class='col-md-3'>
		<%= render partial: 'publicaciones/partials/sel_table' %>
	</div>
	<div class='col-md-9'>
		<%= render partial: '0p/tabs/tabs', locals: {tabs: @tabs, options: @options, token: :menu } if @modelo != 'Categoria' and params[:search].blank? %>

		<% if @options[:menu] == 'Especies' %>
			<% @objeto.filo_elementos.order(:filo_elemento).each do |elemento| %>
				<%= render partial: 'filo_elementos/partials/show_tree', locals: {base: elemento} %>
			<% end %>
		<% elsif @options[:menu] == 'Citas' %>
			<% unless @coleccion['citas'].blank? %>
			<div class='row'>
				<div class='col-md-1'>
				</div>
				<div class='col-md-10'>
					<% @coleccion['citas'].each do |cita| %>
						<p><small><%= sanitize cita.m_quote %></small></p>
					<% end %>
				</div>
				<div class='col-md-1'>
				</div>
			</div>
			<% end %>
		<% else %>
			<%= render partial: '0p/search/form', locals: {path: vistas_path} %>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'publicaciones'} %>
		<% end %>
	</div>
</div>
