<!-- Cambio para probar push y pull-->
<div class='row'>
	<div class='col-md-3'>
		<%= render partial: 'vistas/partials/lmenu_areas' %>
		<%= render partial: 'vistas/partials/lmenu_categorias' %>
		<% unless perfil_activo.blank? %>
			<%= render partial: 'vistas/partials/lmenu_carpetas' %>
			<%= render partial: 'vistas/partials/lmenu_compartidas' %>
		<% end %>
	</div>

	<div class='col-md-9'>
		<%= render partial: '0p/tabs/tabs', locals: { token: :menu } if @modelo != 'Categoria' and params[:search].blank? %>

		<% case @options[:menu] %>
		<% when 'Especies' %>
			<%= render partial: 'vistas/partials/especies' %>
		<% when 'Citas' %>
			<% unless @coleccion['citas'].blank? %>
			<div class='row'>
				<div class='col-md-1'>
				</div>
				<div class='col-md-10'>
					<% @coleccion['citas'].each do |cita| %>
						<p><small><%= sanitize cita.m_quote %></small></p>
					<% end %>
				</div>
				<div class='col-md-1'>
				</div>
			</div>
			<% end %>
		<% else %>
			<%= render partial: '0p/search/form', locals: {path: vistas_path} %>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'publicaciones'} %>
		<% end %>

	</div>
</div>
