<h5>
	<i class="bi bi-bug text-<%= params[:indice].blank? ? 'info' : (objeto.revisar ? 'danger' : (objeto.link_fuente.present? ? 'info' : 'dark')) %>"></i>
	<span class='text-info'>
		<%= objeto.parent.blank? ? 'Especie' : 'Sub especie' %> | 
		<% if action_name == 'especies' %>
			<%= objeto.filo_especie %>
		<% else %>
			<%= link_to objeto.filo_especie, "/publicos/especies?indice=#{objeto.id}" %>
		<% end %>
		<%= " ( #{objeto.multiple_referencia} )" %>
	</span>
	<% if objeto.link_fuente.present? %>
		<%= link_to objeto.link_fuente, target: '_blank' do %>
			<i class="bi bi-box-arrow-up-right"></i>
		<% end %>
	<% end %>
	<% unless objeto.n_pubs == 0 or action_name == 'publicaciones' %>
		<%= link_to "/publicos/publicaciones?indice=#{objeto.id}" do %>
			<i class="bi bi-files"></i>
		<% end %>
	<% end %>
</h5>
<h6 class='text-muted'>
	<p>
		<i class="bi bi-tags text-<%= objeto.filo_tipo_especies.empty? ? 'danger' : 'info' %>"> </i>
		<%= objeto.filo_tipo_especies.map {|te| te.filo_tipo_especie}.join(' : ') %>
		<i class="bi bi-droplet text-<%= objeto.filo_categoria_conservaciones.empty? ? 'danger' : 'info' %>"> </i>
		<%= objeto.filo_categoria_conservaciones.map {|cc| cc.filo_categoria_conservacion}.join(' : ') %>
	</p>
	<% unless objeto.nombre_comun.blank? %>
		<i class="bi bi-list-check"></i>
		<small><%= objeto.multiple_nombre_comun %></small>
	<% end %>
</h6>
<% if objeto.especie_sinonimo? %>
	<h6 class='text-danger'>
		<i class="bi bi-exclamation-diamond"></i>
		Esta especie esta en la sinonimia de la especie <%= link_to objeto.especie_padre.filo_especie, objeto.especie_padre %>
	</h6>
<% end %>