<h5>
	<i class="bi bi-bug text-<%= params[:indice].blank? ? 'info' : (objeto.revisar ? 'danger' : (objeto.mma_ok ? 'info' : 'dark')) %>"></i>
	<span class='text-info'>
		<%= objeto.parent.blank? ? 'Especie' : 'Sub especie' %> | 
		<%= "#{objeto.filo_especie} ( #{objeto.referencia} )" %>
	</span>
</h5>
<h6 class='text-muted'>
	<i class="bi bi-tags"></i>
	<% unless objeto.filo_tipo_especies.empty? and objeto.filo_categoria_conservaciones.empty? %>
		<%= objeto.filo_tipo_especie.filo_tipo_especies.split(' | ') %> | 
		<%= objeto.filo_categoria_conservacion.filo_categoria_conservaciones.split(' | ') %><% if objeto.rara %><%= " ; Rara" %><% end %></br>
	<% end %>
	<% unless objeto.nombre_comun.blank? %>
		<i class="bi bi-list-check"></i>
		<small><%= objeto.nombre_comun %></small>
	<% end %>
</h6>
<% if objeto.sinonimo? %>
	<h6 class='text-danger'>
		<i class="bi bi-exclamation-diamond"></i>
		Esta especie esta en la sinonimia de la especie <%= objeto.padre_sinonimo.filo_especie %>
	</h6>
<% end %>