<p id="notice"><%= notice %></p>

<p>
  <strong>Carpeta:</strong>
  <%= @car_filo_esp.carpeta_id %>
</p>

<p>
  <strong>Filo especie:</strong>
  <%= @car_filo_esp.filo_especie %>
</p>

<%= link_to 'Edit', edit_car_filo_esp_path(@car_filo_esp) %> |
<%= link_to 'Back', car_filo_esps_path %>
