<table class='table-borderless'>
	<tbody>
		<tr>
			<td><small><%= @elemento_base.filo_elemento %></small></td>
			<td><small><%= @elemento_base.descripcion %></small></td>
			<td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: @elemento_base} %></td>
		</tr>
		<%= render partial: 'filo_elementos/partials/show_nivel', locals: {elemento: @elemento_base} unless @elemento_base.children.empty? %>

		<% @elementos_base.each do |e_base| %>
			<tr>
				<td><small><%= e_base.filo_elemento %></small></td>
				<td><small><%= e_base.descripcion %></small></td>
				<td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: e_base} %></td>
			</tr>
			<%= render partial: 'filo_elementos/partials/show_nivel', locals: {elemento: e_base} unless e_base.children.empty? %>
		<% end %>
	</tbody>
</table>