<% unless @padres.empty? %>
	<% @padres.reverse().each do |padre| %>
		<small><%= link_to padre.filo_elemento, "/especies?especie=#{padre.filo_elemento}" unless padre.blank? %></small>
	<% end %>
<% else %>
	<h6>Sin elemento padre</h6>
<% end %>

<% unless elemento.blank? %>
	<h5><%= "#{elemento.filo_elemento} [#{elemento.claves}]" %></h5><%= link_to '<i class="bi bi-trash"></i>'.html_safe, "/filo_elementos/elimina_base" if FiloElemento.all.count == 1 %>
<% end %>

<ul>
	<% unless elemento.blank? %>
		<% elemento.children.each do |child| %>
			<li><%= link_to "#{child.filo_elemento} [#{child.claves}]", "/especies?especie=#{child.filo_elemento}" %><%= link_to '<i class="bi bi-trash"></i>'.html_safe, "/filo_elementos/elimina?objeto_id=#{child.id}" if child.children.empty? %></li>
		<% end %>
	<% end %>
</ul>

<!-- FORM INGRESO FILO ELEMENTOS -->
<%= form_for :nuevo_elemento, url: "/filo_elementos/nuevo?class_name=#{elemento.class.name unless elemento.blank?}&objeto_id=#{elemento.id unless elemento.blank?}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:filo_elemento, size: 35, class: 'form-control' ) %>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-plus-circle icon-white"></i>
		  <i class="bi bi-bug icon-white"></i>
		</button>
	</div>
<% end  %>

</br>
<h6>Etiquetas</h6>

<ul>
	<% unless elemento.blank? %>
		<% elemento.especies.each do |esp| %>
			<li><%= esp.especie %><%= link_to '<i class="bi bi-trash"></i>'.html_safe, "/especies/libera_especie?objeto_id=#{esp.id}" %></li>
		<% end %>
	<% end %>
</ul>
<!-- FORM ASOCIACION DE ESPECIES -->
<%= form_for :asigna_especie, url: "/filo_elementos/asigna_especie?class_name=#{elemento.class.name unless elemento.blank?}&objeto_id=#{elemento.id unless elemento.blank?}" do |form| %>
	<div class='form-inline'>
		<%= form.text_field(:especie, size: 35, class: 'form-control' ) %>
		<button type="submit" class="btn btn-info">
		  <i class="bi bi-plus-circle icon-white"></i>
		  <i class="bi bi-node-plus icon-white"></i>
		</button>
	</div>
<% end  %>

