<!--%= render partial: '0p/imagenes/imagen_text_over', locals: {archivo: h_imagen.imagen.url, alt: 'Portada', posicion: ['tl', 'br'], text: [app_sigla, h_imagen.credito_imagen], size: [1, 6]} %-->
<div class="imagen-parentContainer">
	<img src="<%= archivo %>" alt="<%= alt %>">

	<% posicion.each_with_index do |pos, ind| %>
		<% case pos %>
		<% when 'c' %>
			<h<%= size[ind]%>><div class="imagen-centered"><%=text[ind]%></div></h<%= size[ind]%>>
		<% when  'bl' %>
			<h<%= size[ind]%>><div class="imagen-bottom-left"><%=text[ind]%></div></h<%= size[ind]%>>
		<% when  'tl' %>
			<h<%= size[ind]%>><div class="imagen-top-left"><%=text[ind]%></div></h<%= size[ind]%>>
		<% when  'tr' %>
			<h<%= size[ind]%>><div class="imagen-top-right"><%=text[ind]%></div></h<%= size[ind]%>>
		<% when  'br' %>
			<h<%= size[ind]%>><div class="imagen-bottom-right"><%=text[ind]%></div></h<%= size[ind]%>>
		<% end %>
	<% end %>

</div>