<div class="imagen-parentContainer">
	<img src="<%= archivo %>" alt="<%= alt %>">
	<% case posicion %>
	<% when 'c' %>
		<h<%= size%>><div class="imagen-centered"><%=text%></div></h<%= size%>>
	<% when  'bl' %>
		<h<%= size%>><div class="imagen-bottom-left"><%=text%></div></h<%= size%>>
	<% when  'tl' %>
		<h<%= size%>><div class="imagen-top-left"><%=text%></div></h<%= size%>>
	<% when  'tr' %>
		<h<%= size%>><div class="imagen-top-right"><%=text%></div></h<%= size%>>
	<% when  'br' %>
		<h<%= size%>><div class="imagen-bottom-right"><%=text%></div></h<%= size%>>
	<% end %>
</div>