<p id="notice"><%= notice %></p>

<h1>Ind Indices</h1>

<table>
  <thead>
    <tr>
      <th>Ind clave</th>
      <th>Class name</th>
      <th>Objeto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ind_indices.each do |ind_indice| %>
      <tr>
        <td><%= ind_indice.ind_clave_id %></td>
        <td><%= ind_indice.class_name %></td>
        <td><%= ind_indice.objeto_id %></td>
        <td><%= link_to 'Show', ind_indice %></td>
        <td><%= link_to 'Edit', edit_ind_indice_path(ind_indice) %></td>
        <td><%= link_to 'Destroy', ind_indice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ind Indice', new_ind_indice_path %>
