<p id="notice"><%= notice %></p>

<p>
  <strong>Ind clave:</strong>
  <%= @ind_indice.ind_clave_id %>
</p>

<p>
  <strong>Class name:</strong>
  <%= @ind_indice.class_name %>
</p>

<p>
  <strong>Objeto:</strong>
  <%= @ind_indice.objeto_id %>
</p>

<%= link_to 'Edit', edit_ind_indice_path(@ind_indice) %> |
<%= link_to 'Back', ind_indices_path %>
