<small>
	<a data-toggle="collapse" href="#collapseSinonimo<%=objeto.id%>" role="button" aria-expanded="false" aria-controls="collapseSinonimo<%=objeto.id%>">
		<i class="bi bi-tag"></i> 
	</a>

	<% unless objeto.correccion.blank? %>
		<i class="bi bi-arrow-repeat text-info"></i>
	<% end %>

	<% if objeto.especie.present? %>
		<%= link_to objeto.nombre, objeto.especie %> 
	<% else %>
		<%= objeto.nombre %> 
	<% end %>
	( <%= objeto.especie.present? ? objeto.especie.publicaciones.count : 0 %> ) 
	<% if objeto.sinonimo_especie? %><i class="bi bi-flag text-danger"></i><% end %>
	<% if objeto.multiple? %><i class="bi bi-intersect text-danger"></i><% end %>
	<%= render partial: '0p/tabla/btn_eliminar', locals: {objeto: objeto} if objeto.especies.empty? %>
	</br>

	<div class="collapse" id="collapseSinonimo<%=objeto.id%>">
	  <div class="card card-body">
	  	<%= render partial: 'taxonomia/filo_sinonimos/list/form_set_sinonimo', locals: {objeto: objeto} %>
	  </div>
	</div>

</small>