<p id="notice"><%= notice %></p>

<p>
  <strong>Filo especie:</strong>
  <%= @filo_sinonimo.filo_especie_id %>
</p>

<p>
  <strong>Filo sinonimo:</strong>
  <%= @filo_sinonimo.filo_sinonimo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @filo_sinonimo.tipo %>
</p>

<%= link_to 'Edit', edit_filo_sinonimo_path(@filo_sinonimo) %> |
<%= link_to 'Back', filo_sinonimos_path %>
