<p id="notice"><%= notice %></p>

<p>
  <strong>Ind palabra:</strong>
  <%= @ind_redaccion.ind_palabra_id %>
</p>

<p>
  <strong>Ind expresion:</strong>
  <%= @ind_redaccion.ind_expresion_id %>
</p>

<%= link_to 'Edit', edit_ind_redaccion_path(@ind_redaccion) %> |
<%= link_to 'Back', ind_redacciones_path %>
