<p id="notice"><%= notice %></p>

<h1>Filo Roles</h1>

<table>
  <thead>
    <tr>
      <th>Filo rol</th>
      <th>Filo especie</th>
      <th>Filo interaccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filo_roles.each do |filo_rol| %>
      <tr>
        <td><%= filo_rol.filo_rol %></td>
        <td><%= filo_rol.filo_especie_id %></td>
        <td><%= filo_rol.filo_interaccion_id %></td>
        <td><%= link_to 'Show', filo_rol %></td>
        <td><%= link_to 'Edit', edit_filo_rol_path(filo_rol) %></td>
        <td><%= link_to 'Destroy', filo_rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filo Rol', new_filo_rol_path %>
