<div class='row'>
	<div class='col-md-1'></div>
	<div class='col-md-6'>
		</br>
		<h<%=config[:font_size][:title_tema]%> class="text-<%=config[:color][:title_tema]%>"><%= elem.tema_ayuda %></h<%=config[:font_size][:title_tema]%>>
		<h<%=config[:font_size][:detalle_tema]%> class='text-<%=config[:color][:detalle_tema]%>'>
			<%= sanitize elem.d_detalle %>
		</h<%=config[:font_size][:detalle_tema]%>>
	</div>
	<div class='col-md-4'>
		</br></br></br>
		<%= render partial: '0p/imagenes/ilustracion', locals: {objeto: elem, class_image: config[:image][:tema][:clase], size: config[:image][:tema][:size] } %>

		<%# unless elem.credito_foto.blank? %>
			<!--small><p class='text-center'><i>Crédito Fotografía: <b><%#= sanitize elem.credito_foto %></b></i></p></small-->
		<%# end %>
	</div>
	<div class='col-md-1'></div>
</div>