<div class='row'>
	<%= image_tag 'Portada.jpg', class: "mx-auto d-block" %>
</div>

<p class="text-center"><small><i>Crédito fotografías: <b>Bruno Savelli Videla</b></i></small></p>

<b>
<h4 class='text-primary text-center'>Agradecimientos a: Proyecto FB-0002-2014</h4>
<%#= image_tag 'Proyecto ID.jpg', class: "mx-auto d-block" %>
<h5 class='text-primary text-center'>SILVA-ARANGUIZ E, J CHINGA & H CHINGA (2021) <i>Repositorio Citas Bibliográficas Vertebrados Chilenos</i> http://cvch.cl</h5>
</b>

<% @coleccion['tema_ayudas'].each do |tema| %>
<div class='row'>
	<div class='col-md-1'></div>
	<div class='col-md-6'>
		</br>
		<h1 class='text-info'><%= tema.tema_ayuda %></h1>
		<h5 class='text-info'>
			<%= sanitize tema.d_detalle %>
		</h5>
	</div>
	<div class='col-md-4'>
		</br></br></br>
		<%= image_tag tema.ilustracion.half.url, class: "mx-auto d-block" if tema.ilustracion? %>
	</div>
	<div class='col-md-1'></div>
</div>
<% end %>

<%= render partial: '0p/general/titulo', locals: {c: 'publicaciones', a: nil, titulo: 'últimas 10 actualizaciones', size: '5'} %>

<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'publicaciones', a: 'inidex'} %>