<p id="notice"><%= notice %></p>

<p>
  <strong>Ind estructura:</strong>
  <%= @ind_idea.ind_estructura_id %>
</p>

<p>
  <strong>Ind idea:</strong>
  <%= @ind_idea.ind_idea %>
</p>

<%= link_to 'Edit', edit_ind_idea_path(@ind_idea) %> |
<%= link_to 'Back', ind_ideas_path %>
