<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @filo_categoria_conservacion.codigo %>
</p>

<p>
  <strong>Filo categoria conservacion:</strong>
  <%= @filo_categoria_conservacion.filo_categoria_conservacion %>
</p>

<%= link_to 'Edit', edit_filo_categoria_conservacion_path(@filo_categoria_conservacion) %> |
<%= link_to 'Back', filo_categoria_conservaciones_path %>
