<h5><i class="bi bi-bug"></i><%= @objeto.filo_especie %></h5>
<small>Padre: <%= @objeto.padre.class.name %> <%= link_to @objeto.padre.send(@objeto.padre.class.name.tableize.singularize), @objeto.padre unless @objeto.padre.blank? %></small></br>
<hr>
<% if admin? %>
	<div class='row'>
		<div class='col-md-4'>
			<%= render partial: 'carpetas/partials/asigna_carpetas' %>
		</div>
		<div class='col-md-4'>
			<% if @objeto.padre.class.name == 'FiloElemento' %>
				<%= render partial: '0p/general/icon_text', locals: {text: 'Sub Especies', gly: 'bug', clr: 'info'} %>
				<%= render partial: '0p/tabla/tabla', locals: {c: 'filo_especies'} %>

				<%= render partial: 'taxonomia/filo_especies/partials/form_nueva_sub_especie' %>
			<hr>
			<% end  %>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Sinonimia', gly: 'bug', clr: 'info'} %>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'sinonimos-filo_especies'} %>

			<%= render partial: 'taxonomia/filo_especies/partials/form_nuevo_sinonimo' %>
		</div>
		<div class='col-md-4'>
			<%= render partial: '0p/general/icon_text', locals: {text: 'Etiquetas de especies asociadas', gly: 'tag', clr: 'info'} %>
			<%= render partial: '0p/tabla/tabla', locals: {c: 'especies'} %>

			<%= render partial: 'taxonomia/filo_especies/partials/form_asociar_etiqueta' %>
		</div>
	</div>
	<hr>
<% end %>

<div class='row'>
	<div class='col-md-4'>

	</div>
	<div class='col-md-8'>
		<%= render partial: '0p/general/icon_text', locals: {text: 'Publicaciones', gly: 'bug', clr: 'info'} %>
		<%= render partial: '0p/tabla/tabla', locals: {c: 'publicaciones'} %>
	</div>
</div>
