<%= form_with(model: suscripcion, local: true) do |form| %>
  <% if suscripcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suscripcion.errors.count, "error") %> prohibited this suscripcion from being saved:</h2>

      <ul>
      <% suscripcion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :categoria_id %>
    <%= form.number_field :categoria_id %>
  </div>

  <div class="field">
    <%= form.label :perfil_id %>
    <%= form.number_field :perfil_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
